@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

html, body {
  margin: 0 auto;
  font-family: "Fira Code", monospace;
  background-color: #000;
  color: #fff;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}
