.intro {
    width: 100%;
    margin: 10px 0px;
}

.intro h2 {
    text-transform: uppercase;
    margin: 10px 0px;
}

.intro p {
    text-align: justify;
    margin: 10px 0px;
}

.textosPortfolio {
    padding: 10px;
}

