.container-porfolio-dev {
    height: 100%;
    background-color: #141414;
}

.container-porfolio-foto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #141414;
    height: 100%;
    padding: 15px 0px;
}