.h2Cards {
    text-transform: uppercase;
    margin: 15px;
}
.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
}

.cards .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 190px;
    margin: 10px 0px;
}

.card span{
    display: flex;
    height: 200px;
    width: 150px;
    border-radius: 5px;
    margin-top: 10px;
    border: 1px solid #ccc;
}

.card button {
    width: 150px;
    height: 30px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: transparent;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
}

button:hover {
    background-color: #ccc;
    border: 1px solid #ccc;
    color: #000;
    
}

