.modalComponent {
    position: fixed;
    top: 3%;
    left: 2%;
    z-index: 5;

    width: 360px;
    height: 630px;
    
    background-color: #141414;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: auto;

}

.closeModal {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.closeModal button {
    border: none;
    background-color: transparent;
    color: #c0bebe;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bolder;
}

.modal {
    position: absolute;
    display: flex;
    flex-direction: column;

    height: 100%;
    
    padding: 20px 15px;
    margin-top: 30px;

    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);


}

.modal .video-projeto player {
    height: 100%;
    border-radius: 15px;
    border: 1px solid #ccc;
    width: 100%;

}

.modal .texto-projeto {
    width: 100%;
    margin-top: 20px;
}

.modal .texto-projeto h2 {
    font-size: 20px;
    text-transform: uppercase;
    width: 100%;
}

.modal .texto-projeto p {
    font-size: 15px;
    text-align: justify;
    width: 100%;
    margin: 10px 0px;
}

.modal .texto-projeto .data {
    font-size: 15px;
    margin-top: 10px;
    font-weight: bold;
    
}

.modal .botoes {
    display: flex;
    margin-top: 10px;
}

.modal .botoes button {
    display: flex;
    margin-right: 10px;
    width: 80px; 
    height: 30px;
    align-items: center;
    justify-content: center;
    background: transparent;
    color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.modal .botoes button:hover {
    background-color: #ccc;
    color: #000;
}
