.cardFotografia {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 400px;
    margin-top: 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.capa {
    margin: 20px;
}

.cardFotografia .imagem {
    width: 280px;
    border-radius: 10px;
}

.cardFotografia .icon {
    width: 15px;
}

.cardFotografia .icone {
    display: flex;
    align-items: center;
    height: 100%;
}

.cardFotografia .detalhes {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    width: 300px;
}

.cardFotografia .detalhes .info {
    display: flex;
    align-items: center;
    margin-bottom: 12px;    
    width: 190px;
}

.cardFotografia .detalhes .texto {
    font-size: 12px;
    margin: 0px 12px;
    width: 100%;
}

.ensaio-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 22px;
    text-transform: uppercase;
    font-weight: bold;
    background: transparent;
    border: 1px solid #ccc;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}
