.introSobre {
    width: 100%;
}

.textosPortfolio {
    padding: 20px;
}

.introSobre h2 {
    margin-top: 10px;
    text-transform: uppercase;
}

.introSobre p {
    text-align: justify;
    margin: 10px 0px;
}


.curiosidades {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px;
    background-color: #141414;
}

.curiosidades ol {
    margin: 10px 0px;
}

.curiosidades li {
    display: flex;
    align-items: center;
    padding: 3px;
    border: 1px solid #ccc;
}

.curiosidades img {
    width: 20px;
    margin-left: 5px;
}

.curiosidades li p {
    margin: 0px 10px;
}

.historia {
    height: 200px;
    padding: 20px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.cardzao {
    display: flex;
    height: 150px;
    margin: 10px 0px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.cardzinho {
    width: 100px;
    margin: 15px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.cardzao p {
    width: 170px;
    margin: 15px;
    font-size: 14px;
}