.curiosidades {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px;
    background-color: #141414;
}

.curiosidades ol {
    margin: 10px 0px;
}

.curiosidades li {
    display: flex;
    align-items: center;
    padding: 3px;
    border: 1px solid #ccc;
}

.curiosidades img {
    width: 20px;
    margin-left: 5px;
}

.curiosidades li p {
    margin: 0px 10px;
}

.historia {
    height: 100%;
    padding: 20px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.cardzao {
    display: flex;
    height: 80%;
    margin: 10px 0px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.cardzinho {
    width: 70%;
    margin: 15px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.textosHistoria {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 5px 10px;
}

.textosHistoria h2 {
    font-size: 14px;
    text-align: justify;
    border-bottom: 2px solid #ccc;
}

.textosHistoria p {
    font-size: 14px;
    text-align: justify;
}
