
.container-sobre {
    border-bottom: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
}

.container-sobre img {
    width: 160px;
    margin-top: 30px;
}

.textosHome {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textosHome h1 {
    margin-top: 15px;
    text-transform: uppercase;
}

.textosHome p {
    margin: 10px;
    font-size: 14px;
    text-align: center;
    width: 298px;
}

.container-sobre button {
    width: 150px;
    height: 30px;
    margin: 10px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    background-color: transparent;
    border-radius: 15px;
    border: 1px solid #ccc;
}

.container-sobre button:hover {
    background-color: #ccc;
    color: #000;
}


.container-portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background-color: #141414;
    overflow-y: hidden;
    border-bottom: 1px solid #ccc;
}