.intro {
    width: 100%;
    margin: 10px 0px;
}

.textosPortfolio {
    padding: 10px;
}

.intro h2 {
    text-transform: uppercase;
    margin: 10px 0px;
}

.intro p {
    text-align: justify;
    margin: 10px 0px;
}

.container-porfolio-dev {
    height: 100%;
    background-color: #141414;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    /* CSS code for tablet screens goes here */
    .intro {
        /* tablet-specific styles for .intro */
    }

    .textosPortfolio {
        /* tablet-specific styles for .textosPortfolio */
    }

    .intro h2 {
       
    }

    .intro p {
        
    }

    .container-porfolio-dev {
      
    }
}
