.intro {
    width: 100%;
    margin: 10px 0px;
}

.textosPortfolio {
    padding: 10px;
}

.intro h2 {
    text-transform: uppercase;
    margin: 10px 0px;
}

.intro p {
    text-align: justify;
    margin: 10px 0px;
}

.cardsPortfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardPortfolio {
    display: flex;
    align-items: start;
    flex-direction: column;
    border: 1px solid #ccc;
    width: 350px;
    height: 100%;
    border-radius: 10px;
}

.apresentacao {
    display: flex;
    width: 320px;
    margin: 15px;
}

.apresentacao .img {
    width: 140px;
    height: 100px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.cardPortfolio p {
    width: 250px;
    margin-left: 10px;
    font-size: 12px;
}

.cardsPortfolio img {
    width: 25px;
}

.links {
    display: flex;
    margin: 10px 15px;
}

.github {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 110px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-right: 10px;
}

.github button {
    background: transparent;
    border: none;
    color: #ccc;
}

.linguages {
    display: flex;
    align-items: center;
    margin: 10px 15px;
}

.linguages img {
    margin-right: 10px;
}